<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center">
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="8">
        <ion-item>
          <ion-input [(ngModel)]="username" type="text" placeholder="Username"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="8">
        <ion-item>
          <ion-input [(ngModel)]="password" type="password" placeholder="Password"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="8" style="text-align: center">
        <p style="color: red">{{error}}</p>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="8" style="text-align: center">
        <ion-button
          (click)="login()"
        >
          Login
        </ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
