<ion-header>
  <ion-toolbar>
    <ion-title>Success scan: {{result.scanResult}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-grid>
                <ion-row>
                  <ion-col size="6">
                    <h2>{{result.main.idVoucher}}</h2>
                  </ion-col>
                  <ion-col size="6" style="text-align: right">
                    <ion-row style="text-align: right">
                      <ion-col></ion-col>
                      <ion-col>
                        <ion-badge color="danger" *ngIf="result.main.statusVoucher == 'redeemed'">
                          Sudah diambil
                        </ion-badge>
                        <ion-badge *ngIf="result.main.statusVoucher == 'available'">
                          Tersedia
                        </ion-badge>
                      </ion-col>
                      <ion-col></ion-col>
                    </ion-row>
                    <ion-row style="text-align: right">
                      <ion-col></ion-col>
                      <ion-col>
                        <ion-button (click)="redeemTicket()">
                          Verify
                        </ion-button>
                      </ion-col>
                      <ion-col></ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-title>
          </ion-card-header>
          <div style="padding: 20px">
            <h5>Nama: {{result.main.name}}</h5>
            <h5>Alamat: {{result.main.address}}</h5>
            <h5>Nomor KTP: {{result.main.noKtp}}</h5>
            <h5>Golongan Darah: {{result.main.golDarah}}</h5>
          </div>
        </ion-card>
        <ion-row>
          <ion-col></ion-col>
          <ion-col size="10" style="text-align: center">
            <p style="color: red">{{redeemable}}</p>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
        <div *ngFor="let item of result.data">
          <ion-card style="background-color: #AAAAAA" *ngIf="item.idVoucher != result.scanResult">
            <ion-card-header>
              <ion-card-title>
                <ion-grid>
                  <ion-row>
                    <ion-col size="8">
                      <h2>{{item.idVoucher}}</h2>
                    </ion-col>
                    <ion-col size="4" style="text-align: right">
                      <ion-badge color="danger" *ngIf="item.statusVoucher == 'redeemed'">
                        Tidak tersedia
                      </ion-badge>
                      <ion-badge *ngIf="item.statusVoucher == 'available'">
                        Tersedia
                      </ion-badge>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-title>
            </ion-card-header>
            <div style="padding: 20px">
              <h5>Nama: {{item.name}}</h5>
              <h5>Alamat: {{item.address}}</h5>
              <h5>Nomor KTP: {{item.noKtp}}</h5>
              <h5>Golongan Darah: {{item.golDarah}}</h5>
            </div>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="10">
        <ion-button (click)="cancel()">
          Cancel
        </ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
