<ion-header>
  <ion-toolbar>
    <ion-title>Message</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        {{message}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="ok()">
          ok
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
