<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="scanBarcode()">
          Scan!
        </ion-button>
      </ion-col>
      <ion-col></ion-col>
      <ion-col style="text-align: right">
        <ion-button (click)="logout()">
          Logout
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

<!-- 
  <div *ngIf="result">
    <p>Nama: {{result.text}}</p>
    <p>Alamat: {{result.format}}</p>
    <p>Dll: </p>
  </div> -->
</ion-content>
